body {
    background-color: #121212;
    color: white;
    width: 100%;
    height: 100vh;
}

header {
    position: absolute;
    padding: 1.5rem;
    top: 0;
}

h1 {
    font-family: 'Montserrat';
    font-size: 3.125rem;
    font-weight: 600;
}

h2, p {
    font-family: 'Open Sans';
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
}

input {
    margin-bottom: 1.25rem;
    width: 18rem;
    height: 2rem;
    outline: none;
}

button {
    width: 14rem;
    height: 2.5rem;
    border-radius: 10rem;
    background-color: #03DAC6;
    color: #121212;
    font-size: 1.5rem;
    border: none;
    font-family: 'Montserrat';
    cursor: pointer;
    margin-top: 1rem;
    transition: 1s;
}

button:hover {
    transform: scale(1.1);
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}